.custom-form-group {
  display: flex;
  flex-direction: column;
  margin: 20px 20px 20px 0px;
  align-items: start;
}

.enumlist {
  display: flex;
  flex-direction: column;
  margin: 20px 20px 20px 0px;
  align-items: start;
}

.enum-label {
  margin: 10px 10px;
  width: 300px;
}

.btn {
  margin: 15px;
}
